<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<link rel="stylesheet" href="/css/app.css">
<title>Invoice Creation- Step 2</title>
</head>
<body>
	<h1>Invoicify</h1>
	<h2>Client: {{ client }}</h2>
	<br>
	<form action="/invoices/create" method="post">
		<div class=error>
		{{ #errorMessage }}
			{{ errorMessage }}
		{{ /errorMessage }}
		</div>
		Invoice #: <input type="text" required placeholder="Invoice Number" name="invoiceNumber">
		<br>
		{{ #showRecords }}
		<h2>Choose billing records:</h2>
		<table>
			<thead>
				<tr>
					<th>Select</th>
					<th>Created on</th>
					<th>Created by</th>
					<th>Description</th>
					<th>Client</th>
					<th>Fee</th>
					<th>Rate</th>
					<th>Quantity</th>
					<th>Total</th>
				</tr>
			</thead>
			<tbody>
				
				{{ #records }}
				<tr>
					<td><input type=checkbox value="{{ id }}" name = "recordIds"></td>
					<td>{{ createdOn }}</td>
					<td>{{ createdBy.username }}</td>
					<td>{{ description }}</td>
					<td>{{ client.name }}</td>
					<td>${{#amount}}{{ amount }}{{/amount}}</td>
					<td>${{#rate}}{{ rate }}{{/rate}}</td>
					<td>{{#quantity}}{{ quantity }}{{/quantity}}</td>
					<td>${{ total }}</td>
				</tr>
				{{ /records }}
			</tbody>
		</table>
		{{ /showRecords }}
		<br>
		<button>Create Invoice</button>
		<input type="hidden" name="{{ _csrf.parameterName }}" value="{{ _csrf.token }}"> 
		<input type="hidden" name="clientId" value="{{ clientId }}">
	</form>
	{{> common/_navigation }}
</body>
</html>